{{ define "edit" }}
<a href="/periods/{{ .Id }}" style="text-decoration: none;">
    <i class="fas fa-edit"></i>
</a>
{{ end }}

{{ define "delete" }}
    <i class="fas fa-trash text-danger delete-period" style="cursor: pointer;"></i>
{{ end }}

{{ define "period-header" }}
    <h1 class="display-4"> {{ .Code }} </h1>
    <p class="lead">Nome: {{ .Name }}</p>
    <p class="lead">Ano: {{ .Year }}</p>
    <p class="lead">Data de início: {{ .StartDate }}</p>
    <p class="lead">Data de término: {{ .EndDate }}</p>
    <hr class="my-4">
{{ end }}

{{ define "period-list-row" }}
    <div class="jumbotron" style="background-color: #d3d3d3;" data-period-id="{{ .Id }}">
        {{ template "period-header" . }}
        <p>
            {{ template "edit" . }}
            {{ template "delete" . }}
        </p>
    </div>
{{ end }}