<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Financial App</title>
        <link href="/web/assets/css/bootstrap.css" rel="stylesheet" />
    </head>
    <body>
        {{ template "header" }}
               
        
        <div class="table-responsive-md">
          <table class="table table-hover table-striped caption-top">
            <caption>Despesas variáveis</caption>
            <caption>{{.PeriodName}} - {{.PeriodYear}}</caption>
            <thead class="table-light">
              <tr class="table-secondary text-center">
                <th scope="col">&nbsp;</th>
                <th scope="col">Despesa</th>
                <th scope="col" class="text-end">Limite mensal</th>
                <th scope="col" class="text-end">Gasto real</th>
                <th scope="col" class="text-end">Diferença</th>
                <th scope="col">&nbsp;</th>
              </tr>
            </thead>
            <tbody class="table-group-divider">
                {{range .Balances}}
              <tr>
                <th scope="row">&nbsp;</th>
                <th scope="row">{{.CategoryId}}</th>
                <td class="text-secondary text-end">{{.LimitAmount}}</td>
                <td class="text-primary text-end">{{.ActualAmount}}</td>
                {{ if .DifferenceNegative }}
                    <td class="text-danger text-end">{{.DifferenceAmount}}</td>
                {{ else }}    
                    <td class="text-end">{{.DifferenceAmount}}</td>
                {{ end }}
                <th scope="row">&nbsp;</th>
              </tr>
                {{end}}
              <tr class="table-secondary text-center">
                <th scope="row">&nbsp;</th>
                <th scope="row">&nbsp;</th>
                <td class="text-secondary text-end">{{.Total.LimitAmount}}</td>
                <td class="text-primary text-end">{{.Total.ActualAmount}}</td>
                {{ if .Total.DifferenceNegative }}
                    <td class="text-danger text-end">{{.Total.DifferenceAmount}}</td>
                {{ else }}    
                    <td class="text-end">{{.Total.DifferenceAmount}}</td>
                {{ end }}
                <th scope="row">&nbsp;</th>
              </tr>
            </tbody>
          </table>         
        </div>

        <div class="table-responsive-md">
          <table>
              <tr class="align-bottom">
                <td><img src="/web/charts/{{.PeriodId}}/balance-details.png" /></td>
                <td><img src="/web/charts/{{.PeriodId}}/balance-total.png" /></td>
              </tr>
          </table>
        </div>

        <hr/>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <a id="back" href="/balances/periods" class="card-link">
            <button class="btn btn-dark">
                Voltar
            </button>
          </a>
        </div>

        {{ template "footer" }}
        {{ template "scripts" }}
    </body>
</html>