<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Financial App</title>
        <link href="/web/assets/css/bootstrap.css" rel="stylesheet" />
    </head>
    <body>
        {{ template "header" }}
                

        <div class="table-responsive-md">
          <table class="table table-hover table-striped caption-top">
            <caption>Despesas variáveis</caption>
            <thead class="table-light">
              <tr class="table-secondary text-center">
                <th scope="col">&nbsp;</th>
                <th scope="col">Despesa</th>
                <th scope="col">Gasto real</th>
                <th scope="col">Limite mensal</th>
                <th scope="col">Diferença</th>
                <th scope="col">&nbsp;</th>
              </tr>
            </thead>
            <tbody class="table-group-divider">
                {{range .Balances}}
              <tr>
                <th scope="row">&nbsp;</th>
                <th scope="row">{{.CategoryId}}</th>
                <td class="text-primary text-end">{{.ActualAmount}}</td>
                <td class="text-secondary text-end">{{.LimitAmount}}</td>
                {{ if .DifferenceNegative }}
                    <td class="text-danger text-end">{{.DifferenceAmount}}</td>
                {{ else }}    
                    <td class="text-end">{{.DifferenceAmount}}</td>
                {{ end }}
                <th scope="row">&nbsp;</th>
              </tr>
                {{end}}
            </tbody>
          </table>         
          
        </div>
            
                

        {{ template "footer" }}
        {{ template "scripts" }}
    </body>
</html>