{{ define "header" }}
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Financial App</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-main" aria-controls="navbar-main" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar-main">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/periods">Períodos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/users/profile">Meu perfil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/balances">Saldos</a>
                </li>                
                <li class="nav-item">
                    <a class="nav-link active" href="/logout" class="text-decoration-none">
                        Sair
                        <i class="fas fa-power-off"></i>
                    </a>                    
                </li>
            </ul>
            </div>
        </div>
    </nav>
{{ end }}