<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Financial App</title>
        <link rel="stylesheet" type="text/css" href="/web/assets/css/login.css">
    </head>
    <body>
        <div class="container-login">
            <div>
                <form id="login-form" class="financial-form">
                    <span>Sign in to your Financial App account</span>
                    <div>
                        <input id="email" type="text" name="email" placeholder="Type your email" required="required" />
                    </div>
                    <div>
                        <input id="password" type="password" name="password" placeholder="Type your password" required="required" />
                    </div>
                    <button type="submit" id="btnSubmit" class="btn-financial">Sign in</button>
                    Create an accout: <a href="/register">Sign up</a>
                </form>
            </div>
        </div>
        {{ template "scripts" }}
        <script src="/web//assets/js/login.js"></script>
    </body>
</html>