<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Financial App</title>
        <link rel="stylesheet" type="text/css" href="/web/assets/css/login.css">
    </head>
    <body>
        <h2></h2>
        <div class="container-login">
            <div>
                <form id="register-credentials-form" class="financial-form">
                    <span>Create your Financial App account</span>
                    <div>
                        <input id="password" type="password" name="password" placeholder="Type your password" required="required" />
                    </div>
                    <div>
                        <input id="passwordConfirm" type="password" name="passwordConfirm" placeholder="Confirm your password" required="required" />
                    </div>
                    <div>
                        <input id="email" type="hidden" name="email" value="{{ .Email }}" />
                    </div>                      
                    <div>
                        <input id="user_id" type="hidden" name="user_id" value="{{ .User_id }}" />
                    </div>                    
                    <button type="submit" id="btnSubmit" class="btn-financial">Register</button>
                    <a href="/register">Back</a>
                </form>
            </div>
        </div>
        {{ template "scripts" }}
        <script src="/web/assets/js/user-credentials.js"></script>
    </body>
</html>